.GradientShow
	background: black
	height: 100%
	width: 100%
	.grid
		height: 100%
		.text
			text-align: center
			grid-column: 2 / 6
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			font-family: Overpass
			font-weight: bold