.MobileAnimation
	height: 100%
	width: 100%
	.begin
		position: absolute
		bottom: 5em

.Canvas
	position: absolute
	// z-index: 2

.hold-icon
	display: flex
	position: absolute
	bottom: 250px
	width: 164px
	left: 0
	right: 0
	z-index: 3
	margin: 0 auto
	p
		display: inline-block
		margin-left: 0.5em
		font-family: aileron
		font-size: 0.833rem
.logo
	position: absolute
	top: 25px
	left: 2em
	width: 36px
	z-index: 15
	img
		width: 100%
	.scroll-indicator
		position: absolute
		top: 0px
		width: 4px
		height: 14px
		left: 2.7em
		border-radius: 5px
