.MobileEmailForm
	height: 220px
	width: 100%
	position: absolute
	z-index: 3
	// background-color: #F4F4F4
	bottom: 0
	display: flex
	flex-direction: column
	align-items: center
	p
		font-family: Overpass
		padding: 1.5em 0em
		letter-spacing: 1px
	.mode-switch
		position: absolute
		bottom: 24px
		right: 20px
		width: 28px
		height: 28px
		font-family: Overpass
		background: transparent
		// border: 1.5px solid black
		border-radius: 4px
		&:focus
			outline: none